.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  /*Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  padding: 15px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  padding: 15px;
}
